{
'name': 'SyslogDemo1_ST',
'InputType': 'Logs',
'SplitterRuleOrFileSet':'Generic-dateTime-Split',
'AnnotatorRuleOrFileSet':'Generic-Annotate',
'postOnFailure':'false',   
'indexingConfig': 
     "{
    "fields": {
        "logRecord": {
            "searchable": true,
            "filterable": false,
            "retrievable": true,
            "dataType": "TEXT",
            "sortable": false,
            "source": {
                "paths": [
                    "content.text",
                    "metadata.text"
                ],
                "combine": "ALL"
            },
            "retrieveByDefault": true
        },
        "timestamp": {
            "searchable": true,
            "filterable": true,
            "retrievable": true,
            "dataType": "DATE",
            "sortable": true,
            "source": {
                "dateFormats": [
                    "yyyy MMM dd HH:mm:ss"
                ],
                "paths": [
                    "metadata.timestamp"
                ]
            },
            "retrieveByDefault": true
        }
    },
    "indexConfigMeta": {
        "version": "1.1.0",
        "name": "RSYSLOG Generic Annotation",
        "description": "Index Mapping Configuration for Generic Annotation",
        "lastModified": "07/12/2013"
    }
    }"
}
